<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Chat: Sign In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="enter()">
    <ion-list>
      <ion-item>
        <ion-input (keyup.enter)="enter()" [(ngModel)]="username" [required]="true" label="Username"
          labelPlacement="stacked" name="username"
        type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input (keyup.enter)="enter()" [(ngModel)]="room" [required]="true"
          label="Room" labelPlacement="stacked"
        name="room" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-select [(ngModel)]="language" [ngModelOptions]="{standalone: true}"
          cancelText="Dismiss" label="Select your language"
          labelPlacement="stacked" okText="Okay">
          @for (lang of supportedLanguages; track lang) {
            <ion-select-option
            [value]="lang.language">{{lang.name}}</ion-select-option>
          }
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-button expand="block" type="submit">Enter</ion-button>
  </form>
</ion-content>
