<form [formRoot]="userForm" (submit)="submit()" class="options">
  <div>
    <label for="firstName">First Name</label><br />
    <input id="firstName" [formField]="userForm.firstname" type="text" />
  </div>
  <div>
    <label for="lastName">Last Name:</label><br />
    <input id="lastName" [formField]="userForm.lastname" type="text" />
  </div>
  <div>
    <label for="age">Age:</label><br />
    <input [formField]="userForm.age" id="age" type="number" />
  </div>
  <div>
    <input id="maleGender" [formField]="userForm.gender" type="radio" value="MALE" /><label
      for="maleGender"
      >Male</label
    >
    <input id="femaleGender" [formField]="userForm.gender" type="radio" value="FEMALE" /><label
      for="femaleGender"
      >Female</label
    >
  </div>

  <button type="submit">Submit</button>
</form>
