<div [merge]="mergeOptions" [options]="options" echarts></div>

<form class="options">
  <input (change)="switchGauge()" [(ngModel)]="type" [disabled]="networkError" id="temp" name="type" type="radio"
         value="temp">
  <label for="temp">Temperature</label>
  <input (change)="switchGauge()" [(ngModel)]="type" [disabled]="networkError" id="hum" name="type" type="radio"
         value="hum">
  <label for="hum">Humidity</label>
  <div>
    <button (click)="toggleConnection()" [disabled]="networkError">{{ connected ? 'Disconnect' : 'Connect' }}</button>
  </div>
</form>

@if (networkError) {
  <h2>Network Error</h2>
}

<main>
  <input id="value1" size=5>
  <select id="operator">
    <option value="Addition">+</option>
    <option value="Subtraction">-</option>
    <option value="Multiplication">*</option>
    <option value="Division">/</option>
  </select>
  <input id="value2" size=5> = <span id="result"></span>
  &nbsp;&nbsp;<button (click)="sendCalculation()" type="button">Calculate</button>
</main>


