<div [merge]="mergeOptions" [options]="options" echarts></div>

<form class="options">
  <input
    (change)="switchGauge()"
    [(ngModel)]="type"
    [disabled]="networkError"
    id="temp"
    name="type"
    type="radio"
    value="temp"
  />
  <label for="temp">Temperature</label>
  <input
    (change)="switchGauge()"
    [(ngModel)]="type"
    [disabled]="networkError"
    id="hum"
    name="type"
    type="radio"
    value="hum"
  />
  <label for="hum">Humidity</label>
  <div>
    <button (click)="toggleConnection()" [disabled]="networkError" type="button">
      {{ connected ? 'Disconnect' : 'Connect' }}
    </button>
  </div>
  <p class="status" [class.open]="sensorConnectionState === 'open'" [class.error]="sensorConnectionState === 'error'">
    Sensor socket: {{ sensorConnectionState }}
  </p>
</form>

@if (networkError) {
  <h2>Network Error</h2>
}

<main>
  <input [(ngModel)]="calculatorValue1" id="value1" name="value1" size="5" type="number" />
  <select [(ngModel)]="calculatorOperator" id="operator" name="operator">
    <option value="Addition">+</option>
    <option value="Subtraction">-</option>
    <option value="Multiplication">*</option>
    <option value="Division">/</option>
  </select>
  <input [(ngModel)]="calculatorValue2" id="value2" name="value2" size="5" type="number" /> = <span id="result">{{ calculationResult ?? '' }}</span> &nbsp;&nbsp;<button
    (click)="sendCalculation()"
    type="button"
  >
    Calculate
  </button>
</main>
