@forward '@nebular/theme/styles/theming';
@use '@nebular/theme/styles/theming' as *;
@use '@nebular/theme/styles/themes/default';
@use '@nebular/theme/styles/themes/dark';

$nb-themes: nb-register-theme(
    (
      // some styles we changed
      text-basic-color: color-basic-800,
      text-disabled-color: color-basic-600
    ),
    default,
    default
);

$nb-themes: nb-register-theme(
    (
      // some styles we changed
      text-basic-color: color-basic-800,
      text-disabled-color: color-basic-600
    ),
    dark,
    dark
);
