<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      Users: {{ chatService.room }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="signout()">
        <ion-icon name="log-out" slot="icon-only" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list lines="none">
    @for (user of chatService.usersSubject | async; track user) {
      <ion-item>
        <ion-label>
          <h2>{{ user.username }}</h2>
        </ion-label>
      </ion-item>
    }
  </ion-list>
</ion-content>
